<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @atccode.code %>
</p>

<p>
  <b>Detail:</b>
  <%= @atccode.detail %>
</p>


<%= link_to 'Edit', edit_atccode_path(@atccode) %> |
<%= link_to 'Back', atccodes_path %>
